<div class="col-md-12 d-flex justify-content-end mb-3">
  <div class="col-md-2 mr-10">
    <input type="text" placeholder="Araç arayın..." class="form-control" id="filter" [(ngModel)]="filterText" >
  </div>
  <div class="col-md-1">
    <button type="submit" class="btn btn-outline-primary" routerLink="car-add">Araç Ekle</button>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4">
  
    <div class="col" *ngFor="let car of cars|filter:filterText">
      <div class="card">
        <img src="{{car.image}}" class="card-img-top" alt="..." style="height: 380px; object-fit:cover;">
        <div class="card-body">
          <h5 class="card-title">{{car.carName}}</h5>
          <p class="card-text">{{car.carDetail}}</p>
          <p class="card-text">{{car.carDescription}}</p>
          <p class="card-text">Yakıt Türü: {{car.description}}</p>
          <p class="card-text"><small class="text-muted">Durumu: {{(car.state)?"Kiralanabilir":"Araç Kiralandı"}}</small></p>
          <div>
          <button (click)="selectCarDetail(car)" routerLink="/cardetail/{{car.id}}" type="button" class="btn btn-primary">Detaylı Bilgi</button>
          <button routerLink="/car-update/{{car.id}}" type="submit" class="btn btn-primary ml">Güncelle</button>
          <button (click)="delete(car)" type="button" class="btn btn-danger ml">Sil</button>
          </div>
        </div>
      </div>
    </div>
</div>