<form [formGroup]="brandAddForm">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Marka Adı*</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="name" >      
      <div id="emailHelp" class="form-text" *ngIf="brandAddForm.get('name')?.hasError('required')&&brandAddForm.get('name')?.dirty" class="form-text text-muted">Minimum 2 karakter girin</div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="add()">Ekle</button>
  </form>